<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia Tarbimine</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<header>
    <h1>Energia andmed | Välis API andmed</h1>
</header>
<body>
    <main>
        <a href="/index">Tagasi avalehele</a>
        <ul>
            <% sisu.data.ee.forEach(x => { %>
                <% for (key in x) { %>
                <li> <%= key %>: <%= x[key] %></li>

                <% } %>
            <% })%>
        </ul>
        <br>
        <pre hidden="true">
            Я провожу тебя до лифта и обниму,
            я твоей матери не нравлюсь помоему.
            Придумай где ты была четыре дня,
            засосы замаскируй не сдавай меня.
            Если увидят на попадёт поровну,
            хорошо что окна в другую сторону.
            Плохо что наше с тобой время истекло,
            и я иду домой, уже совсем светло.

            Это не первое и не последнее утро,
            что я тебе подарю.
            Мы слишком молоды чтобы вести себя мудро,
            я знаю что говорю.
            Это не первое и не последнее утро,
            никто не отнимет их.
            мы подозрительно мудрые для молодых

            И шире некуда улыбка на лице,
            ни одного человека на улице.
            И горизонт возбуждённо порозовел,
            а я замёрз судя по всему протрезвел.
            И тишина лишь деревья одни шумят, 
            иду по городу я доволен и помят.
            Мимо аллей, гаражей - вот и мой дом,
            извините я спать! Побеседум потом.
        </pre>
        <br>
        <img style="width:200px" src="/assets/cow.png">
    </main>
    
</body>
<footer>
    <p>Ervin Püsijainen</p>
</footer>
</html>