<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia Tarbimine</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<header>
    <h1>Impordi</h1>
</header>
<body>
    <main>
        <form method="post">
            <input type="file" name="fileName" required>
            <button type="submit">Impordi</button>
        </form>
    </main>
    
</body>
<footer>
    <p>Ervin Püsijainen</p>
</footer>
</html>