<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia Tarbimine</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<header>
    <h1>Energia andmed | Impordi JSON</h1>
</header>
<body>
    <main>
        <a href="/index">Tagasi avalehele</a>
        <form method="post">
            <button type="submit">Impordi</button>
        </form>
        <p style="color: gray; font-size:10px">Ei tööta :C</p>
        <br>
        <img style="width:200px" src="/assets/cow.png">
    </main>
    

</body>
<footer>
    <p>Ervin Püsijainen</p>
</footer>
</html>